/*---------- common ----------*/
@use "functions"as m;

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 18px;
    @include m.spc {
        font-size: 16px;
    }
}

body {

    margin: 0 auto;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
    @include m.tab {
        padding: 0 15px;
    }
}
.flex {
    display: flex;

}

h2 {
    text-align: center;
    margin: 60px auto;
    font-size: 34px;
    .h2__star{
        color: #FFEC53;
        font-size: 40px;
        @include m.tab {
            font-size: 30px;
        }
    }
    @include m.tab {
        font-size: 28px;
    }
}

.fadeUp {
    animation-name: fadeupanime;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-delay: .3s;
    opacity: 0;
}
@keyframes fadeupanime {
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}