/*---------- common ----------*/
@use "functions"as m;

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 18px;
    @include m.spc {
        font-size: 16px;
    }
}

body {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    margin: 0 auto;
}

a {
    text-decoration: none;
font-family: 'Noto Sans JP', sans-serif;
}

ul,
ol {
    list-style-type: none;
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
    @include m.tab {
        padding: 0 15px;
    }
}
.flex {
    display: flex;
}

#fixed_btn {
  position: fixed;
  bottom: 165px; 
  width: 85spx;
  right: 38px;
  padding: 5px 5px;
  z-index: 101;
  background-color: #06c755;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5), inset 0px -3px 6px -2px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  text-align: center;
  a{
    text-align: center;
  color: #fff;
  font-size: 14px;


  @include m.tab {
    font-size: 12px;
  }
  }
  @include m.tab {
    bottom: 145px;
    right: 30px;
    width: 80px;
    font-size: 12px;
  }
  @include m.spc {
    bottom: 20px;
    left: 15px;
  }
}

#top_btn{
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 140px;
  bottom: 15px;
  right: 10px;
  z-index: 100;
  border-radius: 6px;
  padding: 5px 5px;
  font-size: 18px;
  color: #000;
  text-align: center;
  filter: drop-shadow(2px 2px 1px rgba(0, 0, 0,.5));
  img {
    width: 90%;
  }
  @include m.tab {
    width: 120px;
    bottom: 15px;
    right: 10px;
    font-size: 16px;
  }
  @include m.spc {
    width: 100px;
    bottom: 0px;
    right: 10px;
    font-size: 14px;
  }
}


h2 {
    text-align: center;
    margin: 60px auto;
    font-size: 34px;

    @include m.tab {
        font-size: 28px;
    }
    @include m.spc {
        font-size: 24px;
    }
}
.h2__star{
    color: #FFEC53;
    font-size: 40px;
    @include m.tab {
        font-size: 30px;
    }
}

.fadeUp {
    animation-name: fadeupanime;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-delay: .4s;
    opacity: 0;
}
@keyframes fadeupanime {
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.fadeInTopRightTrigger {
    opacity: 0;
}