/*---------- common ----------*/
@use "functions"as m;

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 18px;
    @include m.spc {
        font-size: 16px;
    }
}

body {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    margin: 0 auto;
}

a {
    text-decoration: none;
font-family: 'Noto Sans JP', sans-serif;
}

ul,
ol {
    list-style-type: none;
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
    @include m.tab {
        padding: 0 15px;
    }
}
.flex {
    display: flex;
}

#top_btn{
  position: fixed;
  width: 140px;
  bottom: 30px;
  right: 30px;
  z-index: 100;
  border-radius: 6px;
  padding: 5px 5px;
  font-size: 18px;
  img {
    width: 90%;
  }
  @include m.tab {
    width: 120px;
    bottom: 20px;
    right: 20px;
    font-size: 16px;
  }
  @include m.spc {
    width: 100px;
    bottom: 15px;
    right: 15px;
    font-size: 14px;
  }
}

h2 {
    text-align: center;
    margin: 60px auto;
    font-size: 34px;

    @include m.tab {
        font-size: 28px;
    }
    @include m.spc {
        font-size: 24px;
    }
}
.h2__star{
    color: #FFEC53;
    font-size: 40px;
    @include m.tab {
        font-size: 30px;
    }
}

.fadeUp {
    animation-name: fadeupanime;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-delay: .4s;
    opacity: 0;
}
@keyframes fadeupanime {
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}