header {
    margin: 0 auto;
    width: 100%;

    img {
        width: 100%;
    }
}

/*---------- tiktok ----------*/
#tiktok {
    margin: 0 auto 200px;

    .wrapper {
        width: 100%;
        margin: 0 auto;
    }
}

.tiktok__area {
    justify-content: space-evenly;

    .tiktok__text {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40%;
        padding: 50px;

    }

    div {
        display: flex;
        width: 40%;
        justify-content: center;
        align-items: center;

        img {
            width: 100%;
            height: auto;
            vertical-align: middle;
            box-shadow: 20px 15px 15px 10px rgba(0, 0, 0, .5);
        }
    }
}

/*----------  reason  ----------*/

#reason {
    background-image: url(/images/haikei-1.png);
    background-position: bottom;
    background-size: 100%;
    margin-bottom: 200px;

    .reason__area {
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;

        figure {
            width: 27%;
            margin: 0 25px;
            text-align: center;

            img {
                width: 85%;
                text-align: center;
                margin: 0 auto;
            }

            figcaption {
                h3 {
                    padding: 15px 0 20px;
                    text-align: center;
                }

                p {
                    text-align: left;
                }
            }
        }
    }

}

/*----------  merit  -----------*/

#merit {
    padding-top: 50px;
    padding-bottom: 50px;
    background: url(/images/haikei-2.png), linear-gradient(180deg, rgba(255, 171, 217, .9), rgba(255, 171, 217, .1));
    background-repeat: no-repeat;
    width: 100%;
    background-position: bottom, top;


    .merit__area {
        display: grid;
        justify-content: space-evenly;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: 100px 50px;
        width: 100%;
    }
}

.merit__item {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 100%;
    margin: 0 auto;
    background-color: #f8f8f8;

    .back_no {
        position: absolute;
        font-size: 120px;
        top: 15px;
        left: 15px;
        font-weight: bolder;
        z-index: 5;

    }

    .back_01,
    .back_04 {
        color: rgba(255, 236, 83, .4);
    }

    .back_02,
    .back_05 {
        color: rgba(152, 220, 249, .4);
    }

    .back_03,
    .back_06 {
        color: rgba(255, 171, 217, .4);
    }

    .merit__inner {
        min-height: 210px;
        width: auto;
        padding: 0 10px 10px 120px;
        z-index: 10;

        h3 {
            display: block;
            padding: 25px 0;
            font-size: 24px;
            min-height: 125px;
        }

        p {
            font-size: 16px;

        }


    }

    img {
        display: flex;
        justify-items: end;
        width: 100%;
        margin-top: auto;
    }
}

/*---------- chance ----------*/

.slide__area {
    width: 100vw;
    overflow: hidden;

    img {
        width: auto;
        height: 100%;

        &:first-child {
            animation: slide1 60s -30s linear infinite;
        }

        &:last-child {
            animation: slide2 60s linear infinite;
        }
    }
}

@keyframes slide1 {
    0% {
        transform: translateX(100%);
    }

    to {
        transform: translateX(-100%);
    }
}

@keyframes slide2 {
    0% {
        transform: translateX(0);
    }

    to {
        transform: translateX(-200%);
    }
}

.chance__inner {
    width: 100%;
    justify-content: space-between;
    margin: 100px auto;

    .chance__text {
        font-size: 20px;
        width: 50%;
        padding: 25px;

    }

    .chance__img {
        width: 45%;
        align-items: center;

        img {
            padding-top: 25px;
            width: 100%;
            height: auto;
            margin-bottom: 80px;
        }

        .line_btn {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 60px;
            background-color: #E9537D;
            border-radius: 20px;

            p {
                color: #f8f8f8;
            }
        }

    }
}

/*---------- features ----------*/
#features {
    background: linear-gradient(180deg, rgba(254, 120, 127, .9), rgba(254, 120, 127, .3));
    padding-bottom: 60px;

    h2 {
        padding-top: 60px;
    }
}

.features__area {
    justify-content: center;


    .features__text {
        position: relative;
        display: inline-block;
        margin: 1.5em 25px 1.5em 0;
        padding: 7px 10px;
        min-width: 120px;
        max-width: 100%;
        color: #555;
        font-size: 16px;
        background: #FFF;
        border: solid 6px #FE787F;
        box-sizing: border-box;
        border-radius: 20px;

        ul {
            margin: 50px 65px;

            li {
                padding-bottom: 10px;
            }
        }

    }

    .features__text::before {
        content: "";
        position: absolute;
        top: 50%;
        right: -42px;
        margin-top: -18px;
        border: 18px solid transparent;
        border-left: 28px solid #FFF;
        z-index: 2;
    }

    .features__text::after {
        content: "";
        position: absolute;
        top: 50%;
        right: -54px;
        margin-top: -20px;
        border: 20px solid transparent;
        border-left: 30px solid #FE787F;
        z-index: 1;
    }
}

/*---------- belong ----------*/
#belong {
    background-image: url(/images/haikei-6.png);

    .belong__area {
        justify-content: center;
        flex-wrap: wrap;

        img {
            width: 27%;
            margin: 0 30px;
        }
    }
}


/*---------- liver ----------*/
#liver {
    background-image: url(/images/haikei-3.png);
    background-repeat: repeat-y;

}

.liver__area {
    display: grid;
    grid-template-columns: repeat(auto-fit, 280px);
    row-gap: 50px;
    justify-content: space-evenly;

    .liver__item {
        display: flex;
        flex-direction: column;
        border: 1px solid #c9c7c7;
        border-radius: 20px;

        img {
            border-radius: 20px 20px 0 0;
            width: 100%;
        }

        h3 {
            text-align: center;
            background-color: #FFF8C3;
            padding: 20px 0;
        }

        div {
            display: flex;
            flex-direction: column;
            background-color: #fff;
            border-radius: 0 0 20px 20px;

            p {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 5px 25px;
                text-align: left;
                min-height: 125px;

            }

            a {
                margin-top: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #98DCF9;
                text-align: center;
                padding: 20px;
                margin: 5px 15px 10px;
                border-radius: 10px;

            }
        }
    }
}

/*---------- faq ----------*/
#faq {
    background-image: url(/images/haikei-4.png);
    background-size: cover;

    h3 {
        background-color: #FE787F;
        max-width: 500px;
        text-align: center;
        margin-bottom: 50px;
    }

    .faq__inner {
        margin: 0 auto;
        padding: 50px;
        font-size: 30px;
        background-color: rgba(255, 255, 255, .7);




        .accordion-003 {
            max-width: 1000px;
            margin: 0 auto 7px;
            border-bottom: 3px solid #fe787f;
        }

        .accordion-003 summary {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            padding: 1em 2em;
            color: #333333;
            font-weight: 600;
            cursor: pointer;
        }

        .accordion-003 summary::-webkit-details-marker {
            display: none;
        }

        .accordion-003 summary::after {
            transform: translateY(-25%) rotate(45deg);
            width: 10px;
            height: 10px;
            margin-left: 10px;
            border-bottom: 3px solid #fe787f;
            border-right: 3px solid #fe787f;
            content: '';
            transition: transform .5s;
        }

        .accordion-003[open] summary::after {
            transform: rotate(225deg);
        }

        .accordion-003 p {
            transform: translateY(-10px);
            opacity: 0;
            margin: 0;
            padding: .3em 2em 1.5em;
            color: #333333;
            transition: transform .5s, opacity .5s;
        }

        .accordion-003[open] p {
            transform: none;
            opacity: 1;
        }
    }
}

/*---------- salary ----------*/

#salary {
    padding-top: 30px;
    padding-bottom: 30px;
    background: url(/images/haikei-4.png), linear-gradient(180deg, rgba(152, 220, 249, .9), rgba(152, 220, 249, .1));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom, top;


    div {
        h2 {
            margin: 30px auto 20px;
        }

        .salary__sub {
            text-align: center;
            margin-bottom: 50px;
        }
    }

    .salary__area {
        width: 90%;
        padding: 20px;
        border: 10px solid #FFEC53;
        border-radius: 20px;
        background-color: #fff;

        h3 {
            font-size: 26px;
            text-align: center;
            margin: 30px auto 0;
        }

        p {
            padding: 4%;
            line-height: 3rem;
            text-align: center;
        }

    }

    .line_btn {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 60px;
        background-color: #E9537D;
        border-radius: 20px;
        max-width: 450px;
        color: #f8f8f8;
        margin: 50px auto 20px;
    }
}

/*---------- flow ----------*/



#flow {
    background-image: url(/images/haikei-2.png);
    background-size: cover;
    padding-bottom: 30px;
    .flow__area {
        .flow__item {
            width: 85%;
            margin: 50px auto;
            position: relative;
            background-color: #fff;

            h3 {
                top: -10px;
                left: 50%;
                transform: translateX(-50%);
                -webkit-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                text-align: center;
                width: 320px;
                background-color: #FE787F;
                color: #fff;
                position: absolute;
                z-index: 10;
                border-radius: 10px;
            }

            .flow__inner {

                justify-content: space-evenly;
                border-radius: 10px;
                padding: 10px;
                border: 1px solid #000;

                .flow__icon {
                    display: flex;
                    width: auto;
                    height: 160px;
                    align-items: center;
                    justify-content: center;

                }

                .flow__text {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    width: 45%;

                    h4 {
                        text-align: center;
                    }
                }
            }


        }
    }
    .line_btn {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 60px;
        background-color: #E9537D;
        border-radius: 20px;
        max-width: 450px;
        color: #f8f8f8;
        margin: 50px auto 20px;
    }
}
/*---------- About ----------*/
#about {
    background-color: rgba(253, 167, 208, .3);
    padding-top: 30px;
    padding-bottom: 30px;
    h2{
        margin: 30px auto 60px;
    }
.about__area {
    justify-content:space-around;


    .about__text {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40%;
        background-color: #F3A7D0;
        border-radius: 10px;
        color: #fff;
        padding: 30px;
        line-height: 2.5rem;
    }
    .about__images {
        width: 40%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        img {
            width: 100%;
        }
    }
}
}
/*---------- contact ----------*/
#contact {
    background-image: url(/images/contact-1.png);
    background-size: cover;
    background-position: center;
    padding: 20px;

    .contact__area{
        display: flex;
        flex-direction: column;
        margin: 30px auto;
        background-color: rgba(255, 255, 255,.4);
        padding: 30px 60px;
        h2 {
            margin: 30px auto 10px;
        }
        .contact__sub {
            text-align: center;
        }
        .contact__text{
            width: 650px;
            margin: 40px auto;
        }
        .line_btn {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 60px;
            background-color: #E9537D;
            border-radius: 20px;
            max-width: 450px;
            color: #f8f8f8;
            margin: 20px auto 20px;
        }

    } 
}